// Global Variables
$small-breakpoint:  em-calc(769);
$last-child-float: left;

// Global Colors
$white: #FFFFFF;
$blue: #7DADAC;
$black: #121212;
$anchor-font-color: $blue;
$small-font-size: 12;

// Body
$body-font-size: 14;
$body-font-family: CourierNew;

// Typography
$list-style-position: inside;